# Jupyter
.ipynb_checkpoints/

# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Virtual / local environments
.venv/
venv/
env/

# Environment variables
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Local dataset files
data/*
!data/README.md

# Logs
*.log
